
/**************************
Links
***************************/

a {
    text-decoration: none;
}

/**************************
GENERAL
***************************/

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

/**************************
Heading
***************************/

#logo {
    text-align: center;
    margin: 0;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

/***************************
Selected nav
***************************/

nav a.selected, nav a:hover{
    color: darkcyan
}

/***************************
site body 
****************************/ 

body {
    background-color: #edeff0;
    color: darkgray
}



/***************************
Footer
***************************/