
/**************************
Links
***************************/

a {
    text-decoration: none;
}

img {
    max-width: 100%
}
/**************************
GENERAL
***************************/

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
    width: 100%;
}

/**************************
Heading
***************************/
header {
    max-width: 1000%;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    background-image: url(../Images/2406913018_b791a4c347_o.jpg);
    background-size: cover;
    height: 700px;
    
    
}
#logo {
    text-align: center;
    margin: 0;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

/***************************
Selected nav
***************************/

nav a.selected, nav a:hover{
    color: darkred
}

a.selected {
    text-decoration: none;
    color: white
}

/***************************
site body 
****************************/ 

body {
    background-color: #edeff0;
    color: darkgray
}
/**************************
Navigation
***************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0 0;
    background-color: cadetblue;
    display: block
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-size: 60px;
    font-weight: 800;
    padding: 15px 10px;
}

/***************************
Footer
***************************/
footer {
    font-size: .75em;
    text-align: center;
    clear: both;
    padding-top: 50px;
    color: #ccc;
}

#social-icon {
    max-width: 100px;
    align-content: center
}
/**************************
IMG Gallery
***************************/

#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: #f5f5f5;
    color: #bdc3c7;
}